/* 
==================
Variables
==================
*/

:root {
  --clr-primary: #f9be51;
  --clr-primary-light: #ffdd9c;
  --clr-grey-1: #313453;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: "Catamaran", sans-serif;
  --ff-secondary: "Grand Hotel", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

/* 
==================
Global
==================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-primary-light);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
    padding: 4rem 1rem;
  }
}
@media screen and (max-width: 750px) {
  .min-height {
    min-height: 50vh !important;
  }
}
@media screen and (max-width: 450px) {
  .min-height {
    min-height: 30vh !important;
  }
}

/* 
==================
Sections
==================
*/
.min-height {
  min-height: 100vh;
}
.header {
  background: url("../images/1.png") center/contain no-repeat;
}
.section-1 {
  background: url("../images/2.png") center/contain no-repeat;
}
.section-2 {
  background: url("../images/3.png") center/contain no-repeat;
}
.section-3 {
  background: url("../images/4.png") center/contain no-repeat;
}
.section-4 {
  background: url("../images/5.png") center/contain no-repeat;
}
.section-5 {
  background: url("../images/6.png") center/contain no-repeat;
}
.section-6 {
  background: url("../images/7.png") center/contain no-repeat;
}
.section-7 {
  background: url("../images/8.png") center/contain no-repeat;
}
.section-8 {
  background: url("../images/9.png") center/contain no-repeat;
}

/* 
==================
Footer
==================
*/
.footer {
  background: #0e1024;
  text-align: center;
}
.social-icon {
  color: var(--clr-white);
  font-size: 1.5rem;
  margin-right: 1rem;
  transition: var(--transition);
}
.social-icon:hover {
  color: var(--clr-primary);
}
.footer-text {
  margin-top: 1.25rem;
  text-transform: uppercase;
  color: var(--clr-white);
  font-weight: 400;
}
.company {
  color: var(--clr-primary);
}
